@keyframes turn {
  from { transform: rotate3d(0, 0, 0, 0); }
  to { transform: rotate3d(1, 1, 0, -45deg); }
}

.cube {
  position: relative;
  width: 30px;
  height: 30px;
  transform-style: preserve-3d;
  transform: rotate3d(0.5, 0.9, -0.2, -52deg);
  /* animation: turn 10s linear; */
}

.face {
  width: 30px;
  height: 30px;
  background: #0284c7;
  border: 2px solid white;
  position: absolute;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  transition: transform 500ms;
}

.front {
  transform: translateZ(15px);
}

.back {
  transform: translateZ(-15px) rotateY(180deg);
}

.left {
  transform: translateX(-15px) rotateY(-90deg);
  background: #bae6fd;
}

.right {
  transform: translateX(15px) rotateY(90deg);
  background:#0369a1;
}

.top {
  transform: translateY(-15px) rotateX(90deg);
  background: #38bdf8;
}

.bottom {
  transform: translateY(15px) rotateX(-90deg);
}

@media (prefers-reduced-motion: reduce) {
  .cube {
    animation: none;
    transform: rotate3d(1, 1, 0, 45deg);
  }
}
